@model BTNhom3_CNPM.Models.SanPham

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h2 style="text-align:center">BẠN CÓ CHẮC MUỐN XÓA @Html.DisplayFor(model => model.TenSP)?</h2>
    <div>
        <table align="center">
            <tr>
                <td>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Xóa" class="btn btn-default" /> 
                            
                        </div>
                    }
                </td>
                <td>
                    <button>@Html.ActionLink("Hủy", "Index")</button>
                </td>
            </tr>
        </table>
    
        
    </div>
</body>
</html>
